<html>
<head>
    <title>WebTail: {{ log_file }}</title>
    <style type="text/css">
        .detached-independent {
            position: fixed;
            top:0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function(){
            // get the current offset of the element in question
            var offset = jQuery("#control_forms").offset().top - parseFloat(jQuery("#control_forms").css('margin-top').replace(/auto/, 0));
            $(window).scroll(function(){      
                if (jQuery(window).scrollTop() >= offset) {        
                    jQuery("#control_forms").addClass('detached-independent');
                } else {
                    jQuery("#control_forms").removeClass('detached-independent');
                };
            });
        });

        function write_line(l) {
            <!-- document.getElementById('file').innerHTML += l + '<br/>'; -->
            $('#file').append( l + "<br/>");
        }
 
        if ("MozWebSocket" in window) {
            WebSocket = MozWebSocket;
        }
 
        if (WebSocket) {
            var ws = new WebSocket("ws://{{ self_host }}/tail/?file={{ log_file }}");
            ws.onopen = function() {
                ws.send("We Trying to open Socket");
            };
            ws.onmessage = function (evt) {
                write_line(evt.data);
                $(window).scrollTop($('body').height()); // scroll page down on data write
            };
            ws.onclose = function() {};
        } else {
            alert("WebSocket not supported");
        }
    </script>
</head>
<body>
    <div id="control_forms">
        {% csrf_token %}
        <input type="submit" onclick="ws.close();" id="close" value="Stop Stream"/>
        <form id="eventForm" action="/" method="post">
            <input type="submit" id="open" value="Start Stream"/>
        </form>
    </div>
    <div id="file"></div>
</body>
</html>
